#container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.childDiv { 
    width: 98px;
    height: 98px;
    background-color: white;
    border: solid 1px black;
}

.childDivOnHover {
    width: 98px;
    height: 98px;
    border: solid 1px black;
    background-color: black;
}