body {
    display: flex;
    justify-content: center;
    align-content: center;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.childDiv { 
    background-color: white;
    border: solid 1px black;
}

.childDivOnHover {
    border: solid 1px black;
    background-color: black;
}